a{
    color: #000;
}
a:hover{
    color: #000;
}
.cartImage{
    width:150px;
     border-radius:8px;
    border: 1px solid #d7d7d7;;
}
.cartItemContainer{
    margin: 20px 0px;
    overflow-x: auto;
    width: 60vw;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 9px 12px 10px #eff2f7;
    padding: 10px;
}


.orderContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cartTotal{
    padding:20px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 9px 12px 10px #eff2f7;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 10px 0px;
}

.cartTotal>div{
    text-align: center;
}

.checkout{
    margin: 10px auto;
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 2px;
    width: fit-content;
    border-radius: 5px;
    padding: 12px 60px;
    border: none;
    background-color: #007bff;
    transition: 0.2s ease-in;
}

.tableContainer{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 9px 12px 10px #eff2f7;
    margin: 10px 0px;
}

@media only screen and (max-width:800px){
    .cartItemContainer{
        width:75vw;
    letter-spacing: 5px;
    margin:20px auto
}
.cartItemContainer>*{
    margin:0px 10px;
}
.tableContainer{
    width:95vw;
}
.cartTotal{
    width: 95vw;
    margin:20px 0px;
}

.checkout{    
    width: 280px;
}
}