.productsgrid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(18em,1fr));
    grid-column-gap: 25px;
    grid-row-gap: 40px;
}

.homeHeading{
    color: #0b81ff;
    width: fit-content;
    margin: 15px 0px;
    font-weight: 100;
    transition: 0.3s ease-in;
    font-size: 1.5rem;
}