body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  color:#000;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow:  0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
  height: 50px;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow:  0 0 6px rgba(0,0,0,.3);
	background-color: #333333f0;
  height: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.padding{
  height: 84vh;
  position: relative;
  background-color: #f3f4f45c;
}

.loaderContainer{
  text-align: center;
    position: relative;
    top: 30vh;
    z-index: 1000;
}

.subheadings{
  color: #007bff;
   font-weight:200;
  }

footer{
    text-align: center;
    margin: 20px auto;
    padding: 25px 0px;

}