body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  color:#000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding{
  height: 84vh;
  position: relative;
  background-color: #f3f4f45c;
}

.loaderContainer{
  text-align: center;
    position: relative;
    top: 30vh;
    z-index: 1000;
}

.subheadings{
  color: #007bff;
   font-weight:200;
  }

footer{
    text-align: center;
    margin: 20px auto;
    padding: 25px 0px;

}